.advantages__list {
    display: flex;
}

.advantages__item {
    width: calc((100% - 90px) / 4);

    &:not(:last-child) {
    margin-right: 30px;
    }
}

.advantages__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages__descr {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $grey-text;
}

.advantages__container-icon {
    height: 120px;
    width: 270px;
    margin-bottom: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(245, 244, 250, 1);
}