.clients__list {
    display: flex;
    align-items: center;
    gap: 30px;
    
    @media screen and (max-width: 1199px) {
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.clients__item {
    width: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
        width: 226px;
    }

    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    color: #AFB1B8;
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    color: $blue;
    border-color: $blue;
    }
}

.clients__icon {
    fill: currentColor;
}



// .clients__list {
//     display: flex;
//     align-items: center;
//     margin: 0;
// }

// .clients__item:not(:last-child) {
//     margin-right: 30px;
// }

// .clients__link {
//     display: inline-flex;
//     justify-content: center;
//     align-items: center;
//     width: 170px;
//     height: 92px;
//     border: 1px solid #AFB1B8;
//     border-radius: 4px;
//     color: #AFB1B8;
//     transition-property: color, border-color;
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &:hover,
//     &:focus {
//     color: $blue;
//     border-color: $blue;
//     }
// }

// .clients__icon {
//     fill: currentColor;
// }