@media screen and (min-width: 768px) {
    .contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: auto;

    &__link {
        display: flex;
        align-items: center;

        font-weight: 500;
        font-size: 12px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $grey-text;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link:hover,
    &__link:focus {
        color: $blue;
    }

    &__item:not(:last-child) {
        @media  screen and (min-width: 1200px) {
            margin-right: 50px;
        } 
    }

    &__icon,
    &__icon:hover {
        fill: currentColor;
    }

    &__icon {
        margin-right: 8px;
        @media screen and (min-width: 1200px) {
               margin-right: 10px;
            }
    }
    }
}


@media screen and (min-width: 1200px) {
    .contacts {
        flex-direction: row;
        gap: 0;

        &__link {
            font-size: 14px;
        }
    }
}
