.team {
    background-color: $less-white-for-bg;
}
.teammate {
    max-width: 450px;
    background: $white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 30px;
        }
    }

    &__img {
        width: 100%;
    }

    &__descr {
        padding-top: 30px;
        padding-bottom: 24px;
    }
}

.teammate__name,
.teammate__career {
    display: block;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate__name {
    color: $main-text-color;
    margin-bottom: 10px;
}

.teammate__career {
    color: $grey-text;
    margin-bottom: 16px;
}


// ------------------------TABLET STYLES------------------------
@media screen and (min-width: 768px) {
    .team__list {
        display: flex;
        @media screen and (max-width: 1199px) {
            flex-wrap: wrap;
            gap: 30px;
        }
        
    }

    .teammate {
        width: calc((100% - 30px) / 2);
    }
}

// ------------------------DESKTOP STYLES------------------------
@media screen and (min-width: 1200px) {
    .teammate {
        width: 270px;
        padding-bottom: 0;

        &:not(:last-child) {
        margin-right: 30px;
        }
    }

    .team__list {
        padding-left: 0;
    }

    .teammate__descr {
        padding: 30px 30px;
    }
    .teammate__name,
    .teammate__career {
        line-height: 1.19;
    }

    .teammate__name {
        margin-bottom: 10px;
        font-size: 16px;
    }
}